{% extends "base.html" %}

<!-- Title block -->
{% block title%} Flight | {% endblock %}

<!-- Head block -->
{% block head %} <h1>Airline Webapp | Flight</h1> {% endblock %}

<!-- Content block -->
{% block content %}
{% if flight %}
<h2 class="mb-4">Flight details:</h2>
<ul>
  <li>Origin: {{ flight.origin }}</li>
  <li>Destination: {{ flight.destination }}</li>
  <li>Duration: {{ flight.duration }} minutes</li>
</ul>

<h3 class="mt-5 mb-4">Passengers list:</h3>
{% if passengers %}
<ul>
  {% for passenger in passengers %}
  <li>{{ passenger.name }}</li>
  {% endfor %}
</ul>
{% else %}
<p>This flight has no passengers!!</p>
{% endif %}
{% else %}
<h2 class="text-danger">No Such Flight!!</h2>
{% endif %}

{% endblock %}